@{
    ViewData["Title"] = "Contacto";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CoralónElObrero.Models.ContactFormModel
@if (TempData["Mensaje"] != null)
    {
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["Mensaje"]");
        };
    </script>
    }

<script type="text/javascript">
    function preguntar() {
        if (confirm('¿Esta seguro que desea enviar este mensaje?')) {
            document.formContact.submit();
        }
    }
</script>
    <div class="cont-contact">
        <div class="titulo">
            <h1>Pinturas en General Güemes</h1>
        </div>
        <div style="display:flex; align-items:center; justify-content:center; padding: 240px">
            <a href="#visitenos">
                <img src="~/css/imagenes/2087195-flecha-abajo-aab32.png" style="vertical-align: middle; width: 60px; height: 32px;" />
            </a>
        </div>

    </div>
    <div class="conteiner-grid">
        <div class="grid-item" style="background-color:#e52723">
            <div class="contenido">
                <div class="texto">
                    <p>Visitenos en:</p>
                </div>
                <div style="color:#ffffff; display:flex; align-content:center; justify-content:center">
                    <p style="text-align:center">
                        <img src="~/imag/2087555-icono-ubicacion-45c48.png" style="vertical-align: middle; width: 20px; height: 20px;" />
                        Tte. Ibañéz 810<br />
                        General Guemes SALTA 4430
                    </p>
                </div>
            </div>
        </div>
        <div class="grid-item" style="background-color: #e3413e">
            <div class="contenido">
                <div class="texto">
                    <p>Envienos un correo:</p>
                </div>
                <div style="color:#ffffff; display:flex; align-content:center; justify-content:center">
                    <p style="text-align:center">
                        <img src="~/imag/2087553-icono-mail-6512b.png" style="vertical-align:middle; width:20px; height:20px;" />
                        corralonElObrero_1@gmail.com
                    </p>
                </div>
            </div>
        </div>
        <div class="grid-item" style="background-color: #b0a0a0">
            <div class="contenido">
                <div class="texto">
                    <p>Contáctenos:</p>
                </div>
                <div style="color:#ffffff; display:flex; align-content:center; justify-content:center">
                    <p style="text-align:center">
                        <img src="~/imag/2087554-icono-smartphone-e4da3.png" style="vertical-align:middle; width:20px; height:20px;" />
                        (0387) 491 1859/ (0387) 491 2600 <br />
                        (0387) 491 2666
                    </p>
                </div>
            </div>
        </div>
        <div class="grid-item" style="background-color: #C1bebe">
            <div class="contenido">
                <div class="texto">
                    <p>Horario de Atención:</p>
                </div>
                <div style="color:#ffffff; display:flex; align-content:center; justify-content:center">
                    <p style="text-align:center">
                        <img src="~/imag/2239734-clock-9bf31.png" style="vertical-align:middle; width:20px; height:20px;" />
                        Lunes a sábado de 08:00 a 13:00 hs y<br />
                        de 15:30 a 20:00 hs.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contSomos">
        <div style="padding:80px 20px 100px 20px">
            <div class="titul">
                <h2>Contacto</h2>
            </div>

            <div><hr class="linea" /></div>
            <div style="padding:0px 200px 0px 200px">
                <p style="text-align:center; color:#333333; font-size:17px;">
                    En <strong>Corralón y pintureria El Obrero</strong>,conocemos la importancia de ofrecer
                    productos de calidad para todas las construcciones, por esta razón, brindamos a nuestros
                    clientes la oportunidad de encontrar, en un solo lugar, el más amplio y completo surtido en
                    <strong>materiales para construcción.</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="contVisitenos" id="visitenos" style="height:600px">
        <div style=" text-align:center; color:#ffffff; font-size:26px;">
            <h3><strong>Póngase en contacto con nosotros</strong></h3>
        </div>
        <div><hr style="width: 10%; height: 5px; margin: 0px auto 10px; border: none; box-shadow: 0px 0px 0px 0px; background-image: -webkit-linear-gradient(right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));" /></div>
        <div style="text-align: center; color: #ffffff; font-size: 16px; line-height: 25px; font-weight: 400;">
            <p>Escríbenos a través de nuestro correo, formulario o llámenos a nuestros números telefónicos.</p>
        </div>
        <div class="columnas">
            <div class="item-columna">
                <div style=" text-align:center; color:#ffffff; font-size:26px; padding:20px 20px 20px 20px">
                    <h3><strong>Sucursal Alem</strong></h3>
                </div>
                <div style=" text-align:center; color:#ffffff; font-size:22px;">
                    <p> <strong>Dirección:</strong></p>
                </div>
                <div style=" text-align:center; color:#ffffff; font-size:16px;">
                    <p>
                        Leandro Alem 35 <br />General Güemes SALTA 4430
                    </p>
                </div>
                <div style=" text-align:center; color:#ffffff; font-size:22px;">
                    <p> <strong>Teléfono:</strong></p>
                </div>
                <div style=" text-align:center; color:#ffffff; font-size:16px;">
                    <p>
                        ​ (0387) 491 2714
                    </p>
                </div>
            </div>
            <div class="item-columna">
                <div style=" text-align:center; color:#ffffff; font-size:26px; padding:20px 20px 20px 20px">
                    <h3><strong>Sucursal Fleming</strong></h3>
                </div>
                <div style=" text-align:center; color:#ffffff; font-size:22px;">
                    <p> <strong>Dirección:</strong></p>
                </div>
                <div style=" text-align:center; color:#ffffff; font-size:16px;">
                    <p>
                        Fleming 347 <br />General Güemes SALTA 4430
                    </p>
                </div>
                <div style=" text-align:center; color:#ffffff; font-size:22px;">
                    <p> <strong>Teléfono:</strong></p>
                </div>
                <div style=" text-align:center; color:#ffffff; font-size:16px;">
                    <p>
                        ​ (0387) 491 1836 <br /> (0387) 491 2665
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="contacto" id="contacto">
        <div class="columnas">
            <div class="item-columna">
                <div style=" text-align:left; color:#ffffff; font-size:26px;">
                    <h3><strong>Formulario de contacto</strong></h3>
                </div>
                <div class="linea-blanca"><hr /></div>

            </div>

            <div class="item-columna">

                <form name="formContact" asp-action="Contacto" asp-controller="Home" method="post">
                    <label asp-for="Nombre"> Nombre: </label><br />
                    <input type="text" asp-for="Nombre" style="width:500px" />
                    <span asp-validation-for="Nombre" class="field-validation-valid" data-valmg-for="Nombre" data-valmg-replace="true" style="color:red"></span><br />
                    <label asp-for="Telefono">Telefono:</label><br />
                    <input type="text" asp-for="Telefono" style="width:500px" />
                    <span asp-validation-for="Telefono" class="field-validation-valid" data-valmg-for="Telefono" data-valmg-replace="true" style="color:red"></span><br />
                    <label asp-for="Email">Correo electrónico:</label><br />
                    <input type="text" asp-for="Email" style="width:500px" />
                    <span asp-validation-for="Email" class="field-validation-valid" data-valmg-for="Email" data-valmg-replace="true" style="color:red"></span><br />
                    <label asp-for="Mensaje">Mensaje:</label><br />
                    <textarea name="mensaje" asp-for="Mensaje" style="width:500px; height:110px"></textarea>
                    <span asp-validation-for="Mensaje" class="field-validation-valid" data-valmg-for="Mensaje" data-valmg-replace="true" style="color:red"></span><br />
                    <input type="submit" onclick="preguntar()" value="Enviar" style="background-color:#ff0000; color:#ffffff; width:90px; border:none; font-family:'Montserrat', sans-serif" />
                </form>

            </div>

        </div>
    </div>
    <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3625.6631051097047!2d-65.052589!3d-24.669722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjTCsDQwJzExLjAiUyA2NcKwMDMnMDkuMyJX!5e0!3m2!1ses!2sar!4v1577463948601!5m2!1ses!2sar"
                style="border:0" width="1400" height="450" frameborder="0" allowfullscreen></iframe>

    </div>