@{
    ViewData["Title"] = "Home Page";
}

<div class="cont">
    <div class="titulo">
        <h1>Materiales para la construcción en<br />Goya</h1>
    </div>
    <div style="display:flex; align-items:center; justify-content:center; padding: 40px" onclick="location.href='Home/Contacto'">
        <button class="btn-danger boton">Contáctenos</button>
    </div>
    <div style="display:flex; align-items:center; justify-content:center; padding: 40px">
        <a href="#nosotros">
            <img src="~/css/imagenes/2087195-flecha-abajo-aab32.png"  style="vertical-align: middle; width: 60px; height: 32px;" />
        </a>

    </div>
</div>
<div class="conteiner-grid">
    <div class="grid-item" style="background-color:#e52723">
        <div class="contenido" >
            <div class="texto">
                <p>Visitenos en:</p>
            </div>
            <div style="color:#ffffff; display:flex; align-content:center; justify-content:center">
                <p style="text-align:center">
                    <img src="~/imag/2087555-icono-ubicacion-45c48.png" style="vertical-align: middle; width: 20px; height: 20px;" />
                    Tte. Ibañéz 810<br />
                    General Guemes SALTA 4430
                </p>
            </div>
        </div>
    </div>
    <div class="grid-item" style="background-color: #e3413e">
        <div class="contenido">
            <div class="texto">
                <p>Envienos un correo:</p>
            </div>
            <div style="color:#ffffff; display:flex; align-content:center; justify-content:center">
                <p style="text-align:center">
                    <img src="~/imag/2087553-icono-mail-6512b.png" style="vertical-align:middle; width:20px; height:20px;" />
                    corralonElObrero_1@gmail.com
                </p>
            </div>
        </div>
    </div>
    <div class="grid-item" style="background-color: #b0a0a0">
        <div class="contenido">
            <div class="texto">
                <p>Contáctenos:</p>
            </div>
            <div style="color:#ffffff; display:flex; align-content:center; justify-content:center">
                <p style="text-align:center">
                    <img src="~/imag/2087554-icono-smartphone-e4da3.png" style="vertical-align:middle; width:20px; height:20px;" />
                    (0387) 491 1859/ (0387) 491 2600 <br />
                    (0387) 491 2666
                </p>
            </div>
        </div>
    </div>
    <div class="grid-item" style="background-color: #C1bebe">
        <div class="contenido">
            <div class="texto">
                <p>Horario de Atención:</p>
            </div>
            <div style="color:#ffffff; display:flex; align-content:center; justify-content:center">
                <p style="text-align:center">
                    <img src="~/imag/2239734-clock-9bf31.png" style="vertical-align:middle; width:20px; height:20px;" />
                    Lunes a sábado de 08:00 a 13:00 hs y<br />
                    de 15:30 a 20:00 hs.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="contSomos">
    <div style="padding:80px 20px 100px 20px">
        <div class="titul">
            <h2>Quiénes somos</h2>
        </div>

        <div><hr class="linea" /></div>
        <div style="padding:0px 200px 0px 200px">
            <p style="text-align:center; color:#333333; font-size:17px;">
                Somos <strong>Corralón y pintureria El Obrero</strong>, una reconocida empresa dedicada a la distribución
                y venta de <strong>materiales para construcción</strong> y todo lo relacionado con el rubro de la <strong>pintureria.</strong>
                Estamos ubicados en <strong>General Güemes.</strong>
            </p>
        </div>
    </div>
</div>
<div class="contVisitenos" id="nosotros">
    <div style=" text-align:center; color:#ffffff; font-size:26px;">
        <h3><strong>Visítenos, tenemos productos de corralón y pintureria de primera calidad y al mejor precio.</strong></h3>
    </div>
    <div style="text-align:center; color:#ffffff; font-size:16px; line-height:25px;">
        <p>
            Venga y conozca nuestro completo stock en <strong>artículos de corralón.</strong>
        </p>
        <p>Solicite presupuesto y descubra la garantia al mejor precio.</p>
    </div>
    <div style="display:flex; align-content:center; justify-content:center;" onclick="location.href='Home/Contacto'">
        <button class="btn-presupuesto">PRESUPUESTO</button>
    </div>
</div>
<div class="conNuestraEmpresa" id="nosotros">
    <div style="padding:80px 20px 50px 20px">
        <div class="titul">
            <h2>Nuestra empresa</h2>
        </div>

        <div><hr class="linea" /></div>
        <div style="padding:0px 200px 0px 200px">
            <p style="text-align:center; color:#333333; font-size:17px;">
                Gracias a todo el tiempo que llevamos trabajando en la ciudad, hemos logrado
                convertirnos en el <strong>establecimiento de mayor prestigio.</strong>
            </p>
        </div>
    </div>

    <div class="grid-red">
        <div class="items">
            <div class="contImagen"><img src="~/imag/2239421-icon_1-9bf31.png" /></div>
            <div class="subtitulo"><h3>EXPERIENCIA</h3></div>
            <div class="descripcion">
                <p>
                    Contamos con gran experiencia comercial en el sector, ofreciendo materiales,
                    productos y servicios inmejorables.
                </p>
            </div>
        </div>
        <div class="items">
            <div class="contImagen"><img src="~/imag/2239435-icon_2-9bf31.png" /></div>
            <div class="subtitulo"><h3>MISIÓN</h3></div>
            <div class="descripcion">
                <p>
                    Nos preocupamos para ofrecer la mejor calidad en todo lo relacionado con materiales para la construcción.
                </p>
            </div>

        </div>
        <div class="items">
            <div class="contImagen"><img src="~/imag/2239436-icon_3-9bf31.png" /></div>
            <div class="subtitulo"><h3>VALORES</h3></div>
            <div class="descripcion">
                <p>
                    Trabajamos con toda la dedicación y el empeño para atender a cada cliente de manera oportuna y respetuosa.
                </p>
            </div>
        </div>

    </div>
</div>
<div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3625.6631051097047!2d-65.052589!3d-24.669722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjTCsDQwJzExLjAiUyA2NcKwMDMnMDkuMyJX!5e0!3m2!1ses!2sar!4v1577463948601!5m2!1ses!2sar"
            style="border:0"  width="1400" height="450" frameborder="0" allowfullscreen></iframe>

</div>
    
        

    

